<% content_for :header do %>
	<div class="page-header position-relative">
		<h1>Dashboard <small><i class="icon-double-angle-right"></i> Summary</small></h1>
	</div><!--/page-header-->
<% end %>

<script type='text/javascript'>
	window.onload = function() {
		$('li#nav-dashboard').addClass('active');
	};
</script>